{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Talks</h1>
        </div>
        <div class="row">
            {% for talk in talks %}
                <div class="col">
                    <div class="img-container">
                        <img width="150" src="/img/talks/{{ talk.image }}" alt=""/>
                        <h5 class="img-title">{{ talk.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
