{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>New Talk</h1>
        </div>
        <div class="row">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
