{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Contact:</h1>
        </div>
        <div class="row">
            <form data-controller="confirm-form" action="{{ path('info') }}"  name="talk" method="post">
                <div id="talk">
                    <div class="form-group">
                        <label for="contact_title" class="required">Title</label>
                        <input type="text" id="contact_title" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contact_message" class="required">Message</label>
                        <textarea id="contact_message" name="message" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" data-action="confirm-form#confirm" class="btn-primary btn">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
