<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img src="{{ asset('build/images/bg-titulo-grupo.svg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                        UE Talks
                    </a>
                    <a href="{{ path('new_talk') }}" class="btn btn-primary btn-sm">Register Talk</a>
                    <a href="{{ path('info') }}" class="btn btn-secondary btn-sm">Contact</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
